body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
}

.top, .footer{
    background-color: #1F2937;
}
.header{
    display: flex;
    align-items: center;
    padding: 12px 400px;
    margin-bottom: 50px;
}

.secondary-text, .footer{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header-logo{
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    margin-left: auto;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.top-section{
    background-color: #1F2937;
    display: flex;
    margin-bottom: 50px;
}

.main-text{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    height: 35px;
    width: 100px;
}

.top-section{
    padding: 12px 400px;
    display: flex;
    gap: 100px;
}
.top-section-img{
    height: 300px;
    margin-left: auto;
}

.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 0;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.info-pics{
    height: 300px;
    width: 300px;
}

.footer{
}