body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
}

.top, .footer{
    background-color: #1F2937;
}
.header{
    display: flex;
    align-items: center;
    padding: 12px 400px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.secondary-text, .footer{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header-logo{
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.top-section{
    background-color: #1F2937;
    display: flex;
    margin-bottom: 50px;
}

.main-text{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    height: 35px;
    width: 100px;
}

.top-section{
    padding: 12px 400px;
    display: flex;
    gap: 100px;
}
.top-section-img{
    height: 300px;
    margin-left: auto;
}

.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.info-pics{
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    border-radius: 12px;
}

.footer{
}

.pic-with-info-layout{
    display: flex;
    justify-content: space-around;
    padding: 0 400px;
}

.pic-text{
    text-align: center;
}

.quote{
    padding: 25px 400px;
}

.quote-user{
    text-align: right;
}

.ad{
    display: flex;
    justify-content: space-between;
    padding: 50px 400px;
    background-color: #3882F6;
    margin: 125px 100px;
}

.ad-left-part{
    display: flex;
    flex-direction: column;
}

.ad-right-part{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: center;
}

h3, .sign-up{
    color: white;
    padding: 0;
    margin: 0;
}
